mouse_mode true
theme "catppuccin-macchiato"

keybinds {
    pane {
        bind "Alt f" {
            LaunchOrFocusPlugin "zellij:strider" {
                close_on_selection true
            };
        }
    }
    locked {
        bind "Alt Left" { MoveFocus "Left"; }
        bind "Alt Right" { MoveFocus "Right"; }
        bind "Alt Up" { MoveFocus "Up"; }
        bind "Alt Down" { MoveFocus "Down"; }
    }
}